.pt-team-members .pt-team-member .pt-social-list .pt-social-list-item a {
    padding: 9px;
    text-decoration: none;
}

 .pt-team-members {
     clear: both;
}
 .pt-team-members .pt-team-member .pt-social-list {
     margin-top: 20px;
}
 .pt-team-members .pt-team-member .pt-social-list .pt-social-list-item {
     display: inline;
     margin: 0 15px 0 0;
}
 .pt-team-members .pt-team-member .pt-team-member-details {
     font-size: 15px;
     line-height: 24px;
}
 .pt-team-members .pt-team-member .pt-team-member-text .pt-title {
     font-size: 18px;
     line-height: 26px;
     letter-spacing: 1px;
     font-weight: bold;
     color: #333;
     text-transform: uppercase;
     clear: none;
     margin-top: 0;
     margin-bottom: 10px;
}
 .pt-team-members .pt-team-member .pt-team-member-text .pt-team-member-position {
     font-size: 15px;
     line-height: 24px;
     font-style: italic;
     color: #888;
     margin-bottom: 10px;
}
/*-------- Style 1 ----------------*/
 .pt-team-members-style1 .pt-team-member-wrapper {
     float: left;
     padding: 10px;
}
 .pt-team-members-style1 .pt-team-member {
     max-width: 320px;
     margin: 0 auto 40px;
}
 .pt-team-members-style1 .pt-team-member .pt-image-wrapper {
     text-align: center;
     position: relative;
}
 .pt-team-members-style1 .pt-team-member .pt-image-wrapper img {
     max-width: 100%;
     margin: 0 auto 30px;
     border-radius: 50%;
     -webkit-transition: all .3s ease-in-out 0s;
     transition: all .3s ease-in-out 0s;
}
 .pt-team-members-style1 .pt-team-member .pt-image-wrapper .pt-social-list {
     position: absolute;
     height: 100%;
     width: 100%;
     top: 40%;
	 left:0px;
     z-index: 2;
}
 @media only screen and (max-width: 767px) {
     .pt-team-members-style1 .pt-team-member .pt-image-wrapper .pt-social-list {
         position: relative;
         top: 0;
    }
}
 .pt-team-members-style1 .pt-team-member .pt-image-wrapper .pt-social-list i {
     font-size: 26px;
     color: #fff;
     opacity: 0;
     -webkit-transition: all .3s ease-in-out 0s;
     transition: all .3s ease-in-out 0s;
}
 .pt-team-members-style1 .pt-team-member .pt-image-wrapper .pt-social-list i:hover {
     color: #ccc;
}
 @media only screen and (max-width: 767px) {
     .pt-team-members-style1 .pt-team-member .pt-image-wrapper .pt-social-list i {
         color: inherit;
         opacity: 1;
    }
     .pt-team-members-style1 .pt-team-member .pt-image-wrapper .pt-social-list i:hover {
         color: inherit;
    }
}
 .pt-team-members-style1 .pt-team-member:hover .pt-image-wrapper img {
     -webkit-filter: brightness(50%);
     filter: brightness(50%);
}
 @media only screen and (max-width: 767px) {
     .pt-team-members-style1 .pt-team-member:hover .pt-image-wrapper img {
         -webkit-filter: brightness(80%);
         filter: brightness(80%);
    }
}
 .pt-team-members-style1 .pt-team-member:hover .pt-image-wrapper .pt-social-list i {
     opacity: 1;
}
 .pt-team-members-style1 .pt-team-member .pt-team-member-text {
     text-align: center;
     max-width: 650px;
}
 .pt-team-members-style1 .pt-team-member .pt-team-member-text .pt-title {
     margin-bottom: 10px;
}
 .pt-team-members-style1 .pt-team-member .pt-social-list {
     margin: 10px auto;
}
/*-------- Style 2 ----------------*/
 .pt-team-members-style2 {
     position: relative;
     max-width: 960px;
}
 .pt-team-members-style2 .pt-team-member-wrapper {
     clear: both;
     margin-top: 100px;
    /* Make that flip-flop possible */
}
 .pt-team-members-style2 .pt-team-member-wrapper:first-child {
     margin-top: 0;
}
 .pt-team-members-style2 .pt-team-member-wrapper .pt-image-wrapper {
     float: left;
     position: relative;
}
 .pt-team-members-style2 .pt-team-member-wrapper .pt-image-wrapper img {
     max-width: 320px;
     border-radius: 50%;
     -webkit-transition: all .3s ease-in-out 0s;
     transition: all .3s ease-in-out 0s;
}
 .pt-team-members-style2 .pt-team-member-wrapper .pt-team-member-text {
     margin: 10px 0 0;
     vertical-align: middle;
     padding-top: 20px;
}
 .pt-team-members-style2 .pt-team-member-wrapper .pt-team-member-text .pt-title {
     margin-bottom: 5px;
}
 .pt-team-members-style2 .pt-team-member-wrapper .pt-team-member-text .pt-team-member-details {
     margin: 10px 0 10px;
}
 .pt-team-members-style2 .pt-team-member-wrapper .pt-team-member-text .pt-social-list i {
     font-size: 24px;
}
 .pt-team-members-style2 .pt-team-member-wrapper:hover .pt-image-wrapper img {
     -webkit-filter: brightness(80%);
     filter: brightness(80%);
}
 .pt-team-members-style2 .pt-team-member-wrapper:nth-child(odd) .pt-image-wrapper {
     margin-right: 50px;
}
 .pt-team-members-style2 .pt-team-member-wrapper:nth-child(even) .pt-image-wrapper {
     float: right;
     margin-left: 50px;
}
 .pt-team-members-style2 .pt-team-member-wrapper:nth-child(even) .pt-team-member-text .pt-title, .pt-team-members-style2 .pt-team-member-wrapper:nth-child(even) .pt-team-member-text .pt-team-member-position, .pt-team-members-style2 .pt-team-member-wrapper:nth-child(even) .pt-team-member-text .pt-team-member-details, .pt-team-members-style2 .pt-team-member-wrapper:nth-child(even) .pt-team-member-text .pt-social-list {
     text-align: right;
}
 @media only screen and (max-width: 767px) {
     .pt-team-members-style2 .pt-team-member-wrapper {
         margin-top: 75px;
    }
     .pt-team-members-style2 .pt-team-member .pt-image-wrapper, .pt-team-members-style2 .pt-team-member .pt-team-member-text {
         width: 100%;
         float: none;
    }
     .pt-team-members-style2 .pt-team-member .pt-image-wrapper {
         text-align: center;
    }
     .pt-team-members-style2 .pt-team-member .pt-image-wrapper img {
         margin: 0 auto 20px;
    }
     .pt-team-members-style2 .pt-team-member .pt-team-member-text {
         max-width: 400px;
         margin: 0 auto;
         padding-top: 0;
    }
     .pt-team-members-style2 .pt-team-member .pt-team-member-text .pt-title, .pt-team-members-style2 .pt-team-member .pt-team-member-text .pt-team-member-position, .pt-team-members-style2 .pt-team-member .pt-team-member-text .pt-team-member-details, .pt-team-members-style2 .pt-team-member .pt-team-member-text .pt-social-list {
         text-align: center !important;
    }
}
 .pt-dark-bg .pt-team-members .pt-team-member .pt-team-member-details {
     color: #909090;
}
 .pt-dark-bg .pt-team-members .pt-team-member .pt-team-member-text .pt-title {
     color: #e5e5e5;
}
 .pt-dark-bg .pt-team-members .pt-team-member .pt-team-member-text .pt-team-member-position {
     color: #505050;
}
 .pt-team-members .pt-team-member .pt-social-list .pt-social-list-item i {
     padding: 9px;
}
