.pt-filter-gallery-container.pt-cards .item:before {



     padding-top: 0px;



}



 .pt-filter-gallery-container.pt-cards .item-img {



     position: relative;



     background-repeat: no-repeat;



     background-position: center;



     background-size: cover;



     height: 220px;



     z-index: 0;



     overflow: hidden;



}



 .pt-filter-gallery-container.pt-cards .item-content {



     padding: 15px;



}



 .pt-filter-gallery-container.pt-cards .item-content .title, .pt-filter-gallery-container.pt-cards .item-content .title a {



     font-size: 18px;



     line-height: 1;



     margin-bottom: 0px;



     transition: .3s;



}



 .pt-filter-gallery-container.pt-cards .item-content p {



     font-size: 14px;



     line-height: 26px;



}



/* Grid Breakpoints */



/* Mobile */



 @media screen and (max-width: 480px) {



     .pt-filter-gallery-container .item {



         width: 100%;



    }



}



/* Landscape Mobile */



 @media only screen and (min-width: 481px) and (max-width: 767px) {



     .pt-filter-gallery-container .item {



         width: calc(100%/2 - (((2 - 1) * 1rem) / 2));



    }



}



/* iPad */



 @media only screen and (min-width: 768px) and (max-width:1024px) {



     .pt-filter-gallery-container .item {



         width: calc(100%/3 - (((3 - 1) * 1rem) / 3));



    }



}



 @media screen and (min-width: 1025px) {



     .pt-col-1 .item {



         width: 100%;



    }



     .pt-col-2 .item {



         width: calc(( 100% / 2 ) - 10px );



    }



     .pt-col-3 .item {



         width: calc(( 100% / 3 ) - 10px );



    }



     .pt-col-4 .item {



         width: calc(( 100% / 4 ) - 10px );



    }



     .pt-col-5 .item {



         width: calc(( 100% / 5 ) - 10px );



    }



     .pt-tiles .item {



         margin-bottom: 0px;



    }



     .pt-tiles.pt-col-1 .item {



         width: 100%;



    }



     .pt-tiles.pt-col-2 .item {



         width: 50%;



         float: left;



    }



     .pt-tiles.pt-col-3 .item {



         width: 33.33%;



         float: left;



    }



     .pt-tiles.pt-col-4 .item {



         width: 25%;



         float: left;



    }



     .pt-tiles.pt-col-5 .item {



         width: 20%;



         float: left;



    }



}



/* Editor Specific Style */



 .pt-fg-content-align-left .pt-cards .item .item-content {



     text-align: left;



}



 .pt-fg-content-align-center .pt-cards .item .item-content {



     text-align: center;



}



 .pt-fg-content-align-right .pt-cards .item .item-content {



     text-align: right;



}